@import "~@angular/material/theming";

.main {
  min-width: 239px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #bdccd7;
}

img {
  border-radius: 50%;
}

li {
  list-style-type: none;
  padding: 10px 15px;

  display: flex;
  border-bottom: 1px solid rgba(189, 204, 215, 0.5);
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }

  // &:active,
  // &.active:hover {
  //   background-color: red;
  // }
}

ul {
  padding: 0;
  margin: 0;
  overflow: auto;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  justify-content: center;
  width: 100%;
}

.status-text {
  opacity: 0.8;
  font-family: Helvetica;
  font-size: 11px;
  color: #2d313f;
  letter-spacing: 0;
}

.status-title {
  font-family: Helvetica;
  font-size: 14px;
  // color: white;
  letter-spacing: 0;
}

@media (max-width: 635px) {
  .header {
    padding: 20px 0;
    text-align: center;
  }

  .main {
    min-width: 90px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-info {
    display: none;
  }

  .image-container {
    left: -3px;
  }

  .contact-item {
    justify-content: center;
    padding: 0;
  }
}
