<ng-template #loader>
  <!-- <app-loader></app-loader> -->
</ng-template>

<div class="main">
  <ul *ngIf="chatList && chatList[0]">
    <li *ngFor="let chat of chatList" (click)="onChatSelected(chat)" [ngClass]="{ active: chat.id === activeChat?.id }">
      <div class="contacts-info">
        <span class="status-title" style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex;">
            <mat-icon [style.color]="chat.status === 'closed' ? 'red' : 'green'">trip_origin </mat-icon>
            <div style="margin-left: 1rem;">
              {{ chat.companyName }}
            </div>
          </div>
          <div>{{ chat.updatedAt | date:'dd/MM/yyyy' }}</div>
        </span>
        <span class="status-title" style="font-weight: bold;">{{ chat.description }}</span>
      </div>
    </li>
  </ul>
</div>
