<h1 mat-dialog-title>Новый диалог</h1>
<div mat-dialog-content>
  <form class="col s12 ticket-new" style="margin-top: 1rem;" [formGroup]="formChat" (ngSubmit)="onCreate()">
    <mat-form-field style="width: 100%;">
      <input matInput type="text" placeholder="Название компании" formControlName="subject" />
      <mat-error *ngIf="formChat.get('subject').hasError('minlength')">
        Min length is
        {{ formChat.get('subject').getError('minlength').requiredLength }}
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="Тема создания диалога" formControlName="description"></textarea>
      <mat-error *ngIf="formChat.get('description').hasError('required')">Укажите тему переписки</mat-error>
      <mat-error *ngIf="formChat.get('description').hasError('minlength')">
        Min length is
        {{ formChat.get('description').getError('minlength').requiredLength }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Отмена</button>
  <button mat-button [disabled]="!canCreate()" (click)="onCreate()">Отправить</button>
</div>
