<div class="main">
  <div *ngIf="chatInfo && chatInfo.messages[0]; else loader" style="margin: 1rem; display: flex;">
    <mat-list>
      <mat-list-item>
        <span style="font-weight: bold; margin-right: 1rem;"> Тема общения:</span> {{ chatInfo.chat.topic }}
      </mat-list-item>
      <mat-list-item>
        <span style="font-weight: bold;margin-right: 1rem; "> Описание: </span> {{ chatInfo.chat.description }}
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <span style="font-weight: bold;margin-right: 1rem;">Компания: </span> {{ chatInfo.chat.companyName }}
      </mat-list-item>
      <mat-list-item>
        <span style="font-weight: bold;margin-right: 1rem;">Статус: </span> {{ chatInfo.chat.status }}
      </mat-list-item>
    </mat-list>
    <!-- <div style="font-size: 16px; display: flex">
      <div style="margin: 1rem;">Тема общения: {{ chatInfo.chat.topic }}</div>
      <div>Описание: {{ chatInfo.chat.description }}</div>
      <div>Компании: {{ chatInfo.chat.companyName }}</div>
      <div>Статус: {{ chatInfo.chat.status }}</div>
    </div> -->
  </div>
  <mat-divider></mat-divider>

  <div class="messages-container" #chatContainer>
    <ul *ngIf="chatInfo && chatInfo.messages[0]; else loadercenter">
      <li *ngFor="let message of chatInfo.messages"
        [style.flex-direction]="message.userId !== currentUser.userId ? 'row' : 'row'">
        <span *ngIf="!message.attachments || message.attachments.length === 0"
          [ngClass]="message.userId !== currentUser.userId ? 'speech-bubble' : 'speech-bubble-own'">
          {{ message.message }}
        </span>

        <span *ngIf="message?.attachments && message.attachments.length !== 0"
          [ngClass]="message.userId !== currentUser.userId ? 'speech-bubble' : 'speech-bubble-own'">
          {{ message.message }}
          <br />
          <span style="font-weight: bold;">Files: </span>
          <br />
          <ng-container *ngFor="let file of message.attachments">
            <img style="width: 50px; height: 50px;" *ngIf="file.thumbnails.length !== 0"
              [src]="file.mapped_content_url" />
            <p (click)="onFileClicked(file)" style="cursor: pointer; margin: 1rem;">
              {{ file.file_name }}
            </p>
          </ng-container>
        </span>
      </li>
    </ul>
    <ng-container *ngIf="isMessageSending">
      <!-- <app-loader></app-loader> -->
    </ng-container>
  </div>
  <mat-divider></mat-divider>
  <form style="width: 100%;" [formGroup]="formMessage" (ngSubmit)="onSendMessage()">
    <div class="row inputs">
      <div class="col-sm-3">
        <mat-form-field style="width: 100%;">
          <ngx-mat-file-input #removableInput formControlName="attachments" placeholder="Файлы..." multiple>
          </ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-error *ngIf="formMessage.get('attachments').hasError('maxContentSize')">
            Максимальный размер файла
            {{ formMessage.get('attachments')?.getError('maxContentSize').maxSize | byteFormat }}
            ({{ formMessage.get('attachments')?.getError('maxContentSize').actualSize | byteFormat }}).
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-8">
        <mat-form-field style="width: 100%;">
          <textarea matInput formControlName="message" (keydown.enter)="onSendMessage(); (false)"></textarea>
          <mat-error *ngIf="formMessage.get('message').hasError('minlength')">
            Минимальная длина сообщения
            {{ formMessage.get('message').getError('minlength').requiredLength }}
          </mat-error>
          <mat-hint>"Shift+Enter" для перевода строки. "Enter" для отправки сообщения.</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-1">
        <button mat-icon-button [disabled]="!canSend()" type="submit">
          <mat-icon class="send">send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #loader>
  <!-- <app-loader></app-loader> -->
</ng-template>

<ng-template #loadercenter>
  <div style="margin-top: 20%;">
    <!-- <app-loader></app-loader> -->
  </div>
</ng-template>