.chat-box {
  display: flex;
  align-items: stretch;
  background: #fffffe;
  box-shadow: 0px 2px 36px rgba(45, 49, 63, 0.3);
  border-radius: 6px;
  /* margin: 100px auto 50px; 
     max-width: 800px;
     width: calc(100% - 20px);
     height: 500px;
     max-height: calc(100% - 20px) */
}

.tickets-list-filter {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-tickets {
  display: flex;
  /* max-height: calc(100vh - 110px); */
}

.tickets-list {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  position: relative;
  min-width: 20rem;
}

.tickets-detail {
  flex: auto;
  height: calc(100vh - 3.2rem);
  overflow-y: auto;
  position: relative;
  margin-top: -13px;
}
