<div class="page-tickets">
  <div class="tickets-list">
    <button mat-raised-button class="mat-primary" style="margin: 1rem" (click)="openNewChatDialog()">Новый
      чат</button>
    <mat-divider></mat-divider>
    <div class="tickets-list-filter">
      <span>Сортировка:</span>
      <div>
        <mat-form-field class="order-by">
          <mat-select #select [value]="'created_at'" panelClass="mat-select-panel-wrap-services">
            <mat-option *ngFor="let item of orderOptions" [value]="item.option">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="direction === 'asc' ? (direction = 'desc') : (direction = 'asc')">
          <mat-icon>
            sort_by_alpha
          </mat-icon>
        </button>
      </div>
    </div>
    <app-chat-list [refreshEvent]="refreshChatsSubject.asObservable()" [orderType]="select.value"
      [orderDirection]="direction" (chatSelected)="chatSelected($event)">
    </app-chat-list>
  </div>
  <app-messages-view class="tickets-detail" [chatInfo]="$chatInfo | async"> </app-messages-view>
</div>
