<div class="jumbotron" style="background-color:unset;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Войти</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
          </mat-card-header>
          <!-- <h3 style="color: white">Войдите, чтобы продолжить</h3> -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display:flex; flex-direction: column; align-items: center;">
            <mat-form-field appearance="outline" style="width:80%">
              <mat-label>Email</mat-label>
              <input matInput class="name" type="email" formControlName="email" />
              <mat-error *ngIf="loginForm.get('email').hasError('email')">Введите email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:80%">
              <mat-label>Пароль</mat-label>
              <input matInput class="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
              <mat-icon matSuffix (click)="hidePassword = !hidePassword"> {{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              <mat-error *ngIf="loginForm.get('password').hasError('required')">Введите пароль</mat-error>
            </mat-form-field>
            <div *ngIf="!isLoading; else loading">
              <button
                mat-raised-button
                type="submit"
                color="accent"
                style="width: 100%; height: 40px; margin-bottom:10px; border-radius: 5px"
                [disabled]="!canSubmit()"
              >
                Войти
              </button>
              <br />
              <button
                mat-raised-button
                routerLink="/register"
                color="primary"
                style="width: 100%; height: 40px; margin-bottom:10px; border-radius: 5px"
              >
                Зарегистрироваться
              </button>
              <br />
              <button
                mat-raised-button
                color="primary"
                routerLink="/resetPassword"
                style="width: 100%; height: 40px; margin-bottom:10px; border-radius: 5px"
              >
                Забыли пароль?
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div *ngIf="isLoading">
    <mat-progress-spinner style="margin: 0 auto" mode="indeterminate" diameter="80" strokeWidth="9"> </mat-progress-spinner>
  </div>
</ng-template>
